
.nav-bar {
    background-color: #222;
    padding: 20px;
  }
  .nav-bar a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
  }
  
  .nav-bar a:hover {
    border-color: #d2691e;
  }
  
  .nav-bar a.active {
    border-color: #d2691e;
    background-color: #d2691e;
  }
  