body {
  background-color: #ebebeb;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: black;
}